body{
    background-color: rgba(152, 192, 154, 0.712);
}
/*SESSÃO CONTEINER*/
.sessão__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10%;
     
}
.resumo-animais__container h3{
    background-color: rgba(191, 209, 209, 0.459);
    border-radius: 10px;
    padding: 10px;
    color: rgb(18, 119, 35);
}
/*IMAGEM PDF*/
.imagem-pdf{
    margin-top: -10%;
    display: flex;
    margin-left: 95%;
}
.imagem-pdf img{
    background-color: rgba(226, 216, 202, 0.644);
    padding: 7px;
    border-radius: 10px;
}
/******Direito*******/
/*Div lado Direito*/
.sessão-direito__container{
    margin: 10px 10% 0 0;
}
.gmd__container input, .peso-atual__container input, .dieta__container input , .resumo-animais__container input, .inputs_origens input{
    background-color: transparent;
    border: none;
    color: rgb(8, 30, 77);
    font-size: 18px;
}
/*Input origem*/
.inputs_origens__container{
    margin-top: 10px;
    background-color: rgb(179, 179, 253);
    border-radius: 20px;
    
}
.container__filiação{
    background-color: rgb(192, 208, 221);
    border-radius: 10px;
    margin: 5px;
}
.container_informaçoes_div-mae,.container_informaçoes_div-pai{
    margin: 0 0 0 -40px;
    font-size: 14px;
}
.container_informaçoes_div-mae input, .container_informaçoes_div-pai input{
    font-size: 14px;
}
/*GMD*/
.gmd__container{
    background-color:  rgb(119, 173, 187);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}

/*Peso atual*/
.peso-atual__container{
    background-color:  rgb(155, 189, 155);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/*Dieta atual*/
.dieta__container{
    display: flex;
    align-items: center;
    background-color:  rgb(150, 197, 150);
    padding: 10px;
    border-radius: 10px;
}
/******Esquerdo*******/
/*Div lado Esquerdo*/
.sessão-esquerdo__container{
    background-color: rgba(219, 233, 221, 0.856);
    border-radius: 10px;
    font-size: 18px;
    margin: 5px 19px;
    padding: 50px;
}
/*Resumo animais*/
.resumo-animais__container{
    display: block;
    justify-content: start;
}
/*pesos*/
.pesos__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*Botão*/
.botão-voltar{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.botão-voltar  button{
    padding: 10px 5em;
    font-size: 15px;
    font-family: Inter-Regular;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(79, 194, 95);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.308);
    border: none;
    cursor: pointer;
}
.botão-voltar  button:hover{
    background-color: rgb(122, 158, 127);
    color: white;

}

/*mobile*/

@media screen and (max-width: 1000px) {
.sessão__container{
    margin-left: 0;
     
}
.sessão-direito__container{
    padding: auto;
    margin-left: 6%;
}
/*RESUMO Animal*/
.resumo-animais__container div input{
    background-color: rgba(192, 207, 219, 0.342);
    text-align: center;
}

.resumo-animais__container h3{
    background-color: rgb(180, 201, 201);
    border-radius: 10px;
    padding: 10px;
    color: rgb(18, 119, 35);
}
.meses-input input{
    width: 50px;
}
.raca-input input{
    width: 100px;
}
/*ORIGEM*/
.inputs_origens__container{
    background-color: transparent;

}


#valor-animal input{
    background-color: rgba(164, 192, 156, 0.384);
    text-align: center;
    font-size: 18px;

}
/*GMD*/
.gmd-resumo input{
    width: 50px;
    background-color: rgba(217, 217, 226, 0.13);

}
/*Font -Size dos pesos*/
.peso--resumo input{
    width: 50px;
    color: rgb(9, 18, 94);
    background-color: rgba(217, 217, 226, 0.267);
}
.data--resumo input{
    font-size: 15px;
}
.dieta-resumo input{
    width: 50%;
    font-size: 17px;
    background-color: rgba(206, 218, 208, 0.267);
    text-align: center;
}
.container_informaçoes_div-mae,.container_informaçoes_div-pai{
    margin: 0 10px;
   
}
#nomeMaeResumo, #numeroMaeResumo, #nomePaiResumo, .numeroPaiResumo{
    background-color: rgba(175, 192, 207, 0.575);
}

}